services:
  backend:
    build: ./BackEnd
    container_name: collegegram-backend
    restart: unless-stopped
    env_file:
      - ./BackEnd/.env
    ports:
      - "3000:3000"
    volumes:
      - ./BackEnd/public/uploads:/usr/src/app/BackEnd/public/uploads
    depends_on:
      - postgres
      - minio
    networks:
      - app-network

  postgres:
    image: postgres:15
    container_name: collegegram-db
    restart: unless-stopped
    volumes:
      - pgData:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network
    env_file:
      - ./BackEnd/.env
  

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: unless-stopped
    volumes:
      - ./minio_data:/data
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000" # API
      - "9001:9001" # Console UI
    env_file:
      - ./BackEnd/.env
    networks:
      - app-network

  frontend:
    build: ./FrontEnd
    container_name: collegegram-frontend
    restart: unless-stopped
    env_file:
      - ./FrontEnd/.env
    networks:
      - app-network
    

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

volumes:
  pgData:


networks:
  app-network:
    driver: bridge
