@import 'tailwindcss';
@import "tw-animate-css";

@theme {
  /* Globals clolors css */
  --color-primary: #EA5A69;
  --color-secondary: #F6881F;
  --color-light: #FFFFFF;
  --color-backgroundLight: #F5F5F5;
  --color-textBlack: #191919;
  --color-backgroundSuccess: #C3F9C2;
  --color-textSuccess: #005F3E;
  --color-backgroundWarning: #FFE4C1;
  --color-textWarning: #BD5B00;
  --color-backgroundError: #ffebeb;
  --color-textError: #CC0000;
  --color-backgroundInfo: #E9E4FF;
  --color-textInfo: #E9E4FF;
  --color-broderColor: #A5A5A5;
  --color-geryLight: #D8D8D8;
  --color-geryVeryLight: #F2F2F7;
}
