@font-face {
  font-family: 'IranSans';
  src: url('../assets/fonts/IRANSansWeb(FaNum).woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: 'IranSans', sans-serif;
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d8d8d8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f6881f;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
