@font-face {
  font-family: 'IranSans';
  src: url('../assets/fonts/IRANSansWeb(FaNum).woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'IranSans', sans-serif;
}

* {
  box-sizing: border-box;
}
